.container {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}

.contactItem {
  display: flex;
 justify-content: space-between;
 gap: 10px;
}

